<RUGRAT>
<noOfInterfaces>3</noOfInterfaces>
<useQueries>false</useQueries>
<maxNoOfMethodsPerInterface>2</maxNoOfMethodsPerInterface>
<noOfClasses>20</noOfClasses>
<maxAllowedMethodCalls>3</maxAllowedMethodCalls>
<maxValueForLoop>5</maxValueForLoop>
<injectFilename></injectFilename>
<password></password>
<allowIndirectRecursion>no</allowIndirectRecursion>
<maximumArraySize>2</maximumArraySize>
<dbName></dbName>
<doReachabilityMatrix>no</doReachabilityMatrix>
<noOfInheritanceChains>4</noOfInheritanceChains>
<probability>20</probability>
<maxNestedIfs>2</maxNestedIfs>
<minNoOfClassFields>0</minNoOfClassFields>
<allowArray>no</allowArray>
<maxInheritanceDepth>5</maxInheritanceDepth>
<maxNoOfParametersPerMethod>15</maxNoOfParametersPerMethod>
<minInheritanceDepth>3</minInheritanceDepth>
<dbDriver></dbDriver>
<totalLOC>1000</totalLOC>
<maxInterfacesToImplement>2</maxInterfacesToImplement>
<maxRecursionDepth>2</maxRecursionDepth>
<dbUsername></dbUsername>
<classNamePrefix>TP</classNamePrefix>
<maxNoOfClassFields>0</maxNoOfClassFields>
<maxNoOfMethodsPerClass>10</maxNoOfMethodsPerClass>
<recursionProbability>0</recursionProbability>
<minNoOfParametersPerMethod>4</minNoOfParametersPerMethod>
<intMaxValue>50</intMaxValue>
<queryFilename></queryFilename>
<callType>MCO1_2</callType>
<allowedTypes>
	<type>int</type>
</allowedTypes>
</RUGRAT>